@charset "UTF-8";
/** CSS VARIABLES PREFIX **/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
/** FONT SIZES (c-fs-number)**/
/** COLORES **/
/*reset inicio*/
* {
  margin: 0;
  padding: 0;
}

/*header inicio*/
header {
  height: 75vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)), url(../media/misc/banner.webp) no-repeat;
  /*para que me haga una sombra a la izquierda y no moleste fondo con el texto*/
  background-size: cover;
  background-position: top;
  overflow-x: hidden;
  /*container fluid del header me generaba un scrollbar, solucionado con esto*/
}

/*fin header*/
/*sections inicio*/
#about,
#news,
#gallery,
#gallery-full,
#contact,
#new {
  padding: 3%;
  /*este padding si lo ponia con medidas absolutas me dejaba mal el responsive*/
}

.c-link {
  transition: 0.2s;
}
.c-link:hover {
  color: #0080ff !important;
  background-color: white !important;
  transform: scale(0, 0);
}

.dropdown-menu {
  border: none !important;
}

.c-image {
  /*para acomodar tamaño inicial de about us*/
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
  /*paraque sea gradual*/
}
.c-image:hover {
  transform: scale(1.3);
}

.c-img-link {
  /*para cuando le haga  hover se agrande pero no tenga overflow*/
  overflow: hidden !important;
}

.c-image {
  /*para acomodar tamaño inicial de about us*/
  height: 100%;
  object-fit: cover;
  overflow: hidden !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif !important;
  font-weight: 400;
}

.c-h1 {
  text-shadow: 1px 1px 10px #000000;
  font-family: "Roboto", sans-serif !important;
  font-weight: 400;
  font-size: 4rem;
}

.c-h2 {
  text-shadow: 1px 1px 10px #000000;
  font-family: "Roboto", sans-serif !important;
  font-weight: 100 !important;
  font-size: 3rem;
}

/*para el boton del header*/
.c-h3 {
  margin: 5px 50px 5px 50px;
  font-family: "Roboto", sans-serif !important;
  font-size: 1.25rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif !important;
  font-weight: 300;
  /*para sacarle formato a los links del footer*/
}

p {
  font-family: "Roboto", sans-serif !important;
  font-weight: 300 !important;
}

.p-small {
  font-size: 1.25rem !important;
  color: rgb(100, 100, 100);
}
.p-middle {
  font-size: 1.5rem !important;
  color: rgb(100, 100, 100);
}
.p-big {
  font-size: 1.875rem !important;
  color: rgb(100, 100, 100);
}

a {
  border-radius: 8px;
}

.btn {
  border-radius: 50px;
  transition: 0.3s;
  /*para redondear botones de boostrap*/
  background-color: var(--def-color-primary, #0080ff) !important;
}
.btn:hover {
  color: #0080ff !important;
  background-color: white !important;
  transform: scale(1.1, 1.1);
}

/*icono back to top*/
.c-scroll-top {
  position: absolute;
  right: 3rem;
}
.c-scroll-top__link {
  position: fixed; /*para que siga el scroll y quede fijo*/
  top: 94vh;
  transition: 0.3s;
}
.c-scroll-top__link:hover {
  transform: scale(1.4);
}

.c-button {
  transition: 0.3s;
}
.c-button:active {
  background-color: var(--def-color-primary, #0080ff) !important; /*hice clase custom para que no afectara el slider*/
}
.c-button:hover {
  color: #0080ff !important;
  background-color: white !important;
  transform: scale(1.1, 1.1);
}

.c-link:hover {
  color: #0080ff !important;
  background-color: white !important;
  transform: scale(1.1, 1.1);
}

.card-text {
  font-size: 1.5rem;
}

.card {
  transition: all 0.4s;
}
.card:hover {
  transform: translateY(-3%);
  background-color: #000000;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.card:hover .p-big, .card:hover .p-small, .card:hover .p-middle {
  color: white;
}

.c-item {
  height: 100%;
}

.icon-white {
  color: #dfdfdf;
}

.c-toggler-icon:active,
.c-toggler-icon:hover {
  border: none !important;
}

.c-toggler-icon {
  color: #dfdfdf !important;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  /*le saco el resaltado del menu hamburguesa*/
  outline: none;
  box-shadow: none;
  border: 0;
}

.c-footer-space {
  /*para separar los items del footer*/
  margin: 0 20px 0 20px;
  width: 170px;
}

@media (max-width: 990px) {
  .c-text-center {
    text-align: center;
  }
  a {
    padding-left: 30px !important;
  }
}
@media (max-width: 511px) {
  /*para que quede centrado en dispositivos chicos*/
  .c-footer-space {
    /*para separar los items del footer*/
    margin: 0;
  }
  /*para que quede centrado en dispositivos chicos*/
  .c-scroll-top {
    position: absolute;
    right: 2rem;
  }
  .c-h3 {
    margin: 5px 30px 5px 30px;
  }
  .display-5 {
    font-size: 1.5rem;
  }
}
/*nota: todos los estilos que tengan c- son estilos custom, no pisan bootstrap ni lo genérico css*/

/*# sourceMappingURL=styles.css.map */
