a{
    border-radius: 8px;  
}

.btn {
    border-radius: 50px;
    transition: .3s;
    /*para redondear botones de boostrap*/
    background-color: $action-color-primary !important;
    &:hover{
        @include hoverScale(1.1, 1.1);//uso mixin para agrandar y cambiar colores
    }
}

/*icono back to top*/
.c-scroll-top {    
    position: absolute;
    right: 3rem;    
    &__link{
        position: fixed;/*para que siga el scroll y quede fijo*/
        top: 94vh;
        transition: .3s;
        &:hover {
                transform: scale(1.4);
            }
    }        
}

.c-button{
    transition: 0.3s;
    &:active{
        background-color: $action-color-primary !important;/*hice clase custom para que no afectara el slider*/        
    }
    &:hover{
        @include hoverScale(1.1, 1.1);                
    }
}

.c-link{
    &:hover {
        @include hoverScale(1.1, 1.1);
    }
}
