//sobrescribo la de bootstrap
.card-text{
    font-size: $c-fs-6;  
}

.card{
    transition: all 0.4s;
    &:hover{
        transform: translateY(-3%) ;
        background-color: $color-secondary;
        color: white; 
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
        .p-big, .p-small, .p-middle{
            color: white;
        }
    }
}