/*reset inicio*/
* {
    margin: 0;
    padding: 0;        
}

/*header inicio*/
header {
    height: 75vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)), url(../media/misc/banner.webp) no-repeat;
    /*para que me haga una sombra a la izquierda y no moleste fondo con el texto*/
    background-size: cover;   
    background-position: top;
    overflow-x: hidden;
    /*container fluid del header me generaba un scrollbar, solucionado con esto*/
}
/*fin header*/

/*sections inicio*/
#about,
#news,
#gallery,
#gallery-full,
#contact,
#new {
    padding: 3%;
    /*este padding si lo ponia con medidas absolutas me dejaba mal el responsive*/
}
